<span class="<%= fidelity_helper.to_class_name('has-tip', options[:position]) %>" data-width="<%= options[:width] || 210 %>" title="<%= tooltip.content %>">
	<%= fidelity_helper.select_first(block, options[:text]) %>	
</span>