
<a href="#" class="<%=fidelity_helper.to_class_name(options[:color], options[:style], options[:size], options[:corners], 'button') %>">
	<%= fidelity_helper.select_first(block, options[:label], 'Button Text') %>
</a>
