<div style="margin:10px 0; text-align:right">
	<% unless options[:cancel] == false %>
	<a href="#" class="<%=fidelity_helper.to_class_name(options[:cancel_color]||:white, options[:style], options[:size], options[:corners], 'button') %>" style="margin-right:10px">
		<%= fidelity_helper.select_first(options[:cancel_text], 'Cancel') %>
	</a>
	<% end %>
	<a href="#" class="<%=fidelity_helper.to_class_name(options[:color], options[:style], options[:size], options[:corners], 'button') %>">
		<%= fidelity_helper.select_first(block, options[:text], 'Submit') %>
	</a>
</div>